<div class="container-fluid mainContainer">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Sales Champ</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <form class="navbar-form navbar-left">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Locations" ng-model="cityName" data-toggle="collapse" data-target="#demo">
                        <div class="input-group-btn">
                            <button ng-click="changeLocation(cityName)" class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                        <!--<ul id="demo" class="collapse list-group">
                                <li class="list-group-item" class="collapse" ng-click="changeLocation(cityOptions,true)" ng-repeat="cityOptions in cities track by $index">{{cityOptions}}</li>
                        </ul>-->

                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Select Review Period <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Last 10 days</a></li>
                            <li><a href="#">Month to Date</a></li>
                            <li><a href="#">Last Month</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8 ">
                <p class="text-left" style="font-weight:bold;">Hi Ravi,</p>
                <p class="text-left">Welcome. Below is assignment <b>showing charts and chat</b> made using Angular Javascript and Bootstrap.S</p>
            </div>
            <div class="col-md-4 "></div>
        </div>

        <!-- header text -->
        <div class="row" style="margin: 15px 0px; padding-left: 36px;">
            <div class="col-md-8 appCol ">
                <div class="text_padding">
                    <h4 style = "color: black">Data Analysis of <strong>{{cityName}}</strong></h4>
                    <a style="display:block">Enter search locations such as Delhi-NCR, Mumbai, Kolkata</a>
                </div>
            </div>
        </div>

        <div class="row top1 sidemargin" style='padding-left: 36px;'>
            <div class="col-sm-8 col-lg-8 appCol">
                <div class="text_padding">
                    <h4 style = "color: black">Dashboard</h4>
                    <p>Presenting performance dashboard for All India for the Last 10 days.  Choose a different period and location if required.</p>
                </div>
            </div>
        </div>


        <div class="row top1 sidemargin">
            <div class="col-md-3 col-xs-6 appCol usdCol fixheight" ng-repeat="topData in topBarData track by $index">
                <div class="col-md-8" style="padding: 5px 0;">
                    <div class="text_padding">
                        <p class="top1P1"><span class="text-center top1P1 heading">{{topData.type}} </span></p>
                        <p class="top1P2"><span>{{topData.premium}}</span></p>
                        <p class="top1P2"><span>{{topData.maximum}}</span></p>

                    </div>
                </div>


            </div>

        </div><!-- third row first element -->
        <div class = "row top2">
            <div class= "col-md-6 col-xs-6 appCol two_column">
                <p class="heaading_2">Strike rate</p>
                <donut-Chart donut-value={{(strikeRateData.boundPolicies/strikeRateData.quotations)*100}}></donut-Chart>

            </div>
            <div class="col-md-6 col-xs-6 appCol two_column pull-right">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat= "detail in personInfo">
                            <td> {{detail.firstName}} </td>
                            <td> {{detail.lastName}} </td>
                            <td> {{detail.email}} </td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
        <!--- third row close tag -->
        <div class="row fix_height_2 sidemargin">
            <div class="col-md-12 appCol">

                <div class="col-md-12 appCol">
                    <ul class="nav nav-tabs pull-right heightAdjUL" role="tablist">

                        <li class="active">
                            <a data-target="#allAreas"  ng-click='chagetab("allAreas")' value="allAreas" role="tab" data-toggle="tab">
                                All Areas
                            </a>
                        </li>
                        <li><a data-target="#ruralAreas" ng-click='chagetab("ruralAreas")' value= "ruralAreas" role="tab" data-toggle="tab">
                            Rural Areas
                        </a>
                        </li>
                        <li>
                            <a data-target="#organicpremium"  ng-click='chagetab("urbanAreas")' value= "urbanAreas"  role="tab" data-toggle="tab">
                                Urban Areas
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="tab-content">
                    <div class="tab-pane fade active in" id="allAreas">
                        <div class="row" style="margin:0px;">
                            <div class="col-md-4" style="margin: 20px 20px;border-right:1px solid #ccc;padding-right:25px;">
                                <div class="extrabottompadding">
                                    <span>ALL AREAS</span>
                                    <span class="textUsdCol">USD</span>
                                    <span class="usd_amount">{{boundPoliciesByRegion[region][boundPoliciesActiveTab].premiumGenerated.totalPremiumGenerated}}</span>
                                    <!--<span class="pull-right" style="margin-left:5px;"><a href="#"><img src="../app/assets/circle_img.png" alt=""></a></span>-->
                                </div>
                                <stacked-bar-chart ng-if="boundPoliciesByRegion" get-actual-category-data ="getActualCategoryData()" key="bound" type="premiumGenerated" policies-active-tab="boundPoliciesActiveTab" region ="region" policies-by-region = "boundPoliciesByRegion"></stacked-bar-chart>
                            </div>

                            <div class="col-md-4" style="margin: 20px 0px;border-right:1px solid #ccc;positive:relative;width:30%;">
                                <div class="extrabottompadding">
                                    <span>RURAL AREA TREND</span>
                                </div>
                                <div class="col-md-12"  style="height:300px; padding:0;">
                                    <stacked-column-chart ng-if="boundPoliciesByRegion" key="bound"  type="numberOfPolicies" policies-active-tab="boundPoliciesActiveTab" region ="region" policies-by-region = "boundPoliciesByRegion"></stacked-column-chart>

                                </div>

                            </div>

                            <div class="col-md-4" style="margin: 20px 5px;positive:relative;width:30%;">
                                <div class="extrabottompadding">
                                    <span>URBAN AREA TREND</span>
                                </div>
                                <div class="col-md-12" id="boundPoliciesPremiumGrowth"  style="height:300px; padding:0;">
                                    <stacked-column-chart ng-if="boundPoliciesByRegion" key="bound"  type="premiumGrowth" policies-active-tab="boundPoliciesActiveTab" region ="region" policies-by-region = "boundPoliciesByRegion"></stacked-column-chart>


                                </div>

                            </div>

                        </div>
                    </div> <!-- blocked user tab closed -->

                    <div class="tab-pane fade" id="ruralAreas">
                        <div class="row" style="margin:0px;">
                            <div class="col-md-4" style="margin: 20px 20px;border-right:1px solid #ccc;padding-right:25px;">
                                <div class="extrabottompadding">
                                    <span>ALL AREAS</span>
                                    <span class="textUsdCol">USD</span>
                                    <span class="usd_amount">{{boundPoliciesByRegion[region][boundPoliciesActiveTab].premiumGenerated.totalPremiumGenerated}}</span>
                                </div>
                                <stacked-bar-chart ng-if="boundPoliciesByRegion" get-actual-category-data ="getActualCategoryData()" key="bound" type="premiumGenerated" policies-active-tab="boundPoliciesActiveTab" region ="region" policies-by-region = "boundPoliciesByRegion"></stacked-bar-chart>
                            </div>

                            <div class="col-md-4" style="margin: 20px 0px;border-right:1px solid #ccc;positive:relative;width:30%;">
                                <div class="extrabottompadding">
                                    <span>RURAL AREA TREND</span>
                                </div>
                                <div class="col-md-12"  style="height:300px; padding:0;">
                                    <column-chart ng-if="boundPoliciesByRegion" key="bound"  type="numberOfPolicies" policies-active-tab="boundPoliciesActiveTab" region ="region" policies-by-region = "boundPoliciesByRegion"></column-chart>


                                </div>

                            </div>

                            <div class="col-md-4" style="margin: 20px 5px;positive:relative;width:30%;">
                                <div class="extrabottompadding">
                                    <span>URBAN AREA TREND</span>
                                </div>
                                <div class="col-md-12" id="boundPoliciesPremiumGrowth_newBusinessPremium"  style="height:300px; padding:0;">
                                    <column-chart ng-if="boundPoliciesByRegion" key="bound"  type="premiumGrowth" policies-active-tab="boundPoliciesActiveTab" region ="region" policies-by-region = "boundPoliciesByRegion"></column-chart>

                                </div>

                            </div>


                        </div>
                    </div> <!-- tab event closed -->


                    <div class="tab-pane fade" id="urbanAreas">
                        <div class="row" style="margin:0px;">
                            <div class="col-md-4" style="margin: 20px 20px;border-right:1px solid #ccc;padding-right:25px;">
                                <div class="extrabottompadding">
                                    <span>ALL AREAS</span>
                                    <span class="textUsdCol">USD</span>
                                    <span class="usd_amount">{{boundPoliciesByRegion[region][boundPoliciesActiveTab].premiumGenerated.totalPremiumGenerated}}</span>
                                </div>
                                <stacked-bar-chart ng-if="boundPoliciesByRegion" get-actual-category-data ="getActualCategoryData()" key="bound" type="premiumGenerated" policies-active-tab="boundPoliciesActiveTab" region ="region" policies-by-region = "boundPoliciesByRegion"></stacked-bar-chart>



                            </div>

                            <div class="col-md-4" style="margin: 20px 0px;border-right:1px solid #ccc;positive:relative;width:30%;">
                                <div class="extrabottompadding">
                                    <span>RURAL AREA TRENS</span>
                                </div>
                                <div class="col-md-12"  style="height:300px; padding:0;">
                                    <column-chart ng-if="boundPoliciesByRegion" key="bound"  type="numberOfPolicies" policies-active-tab="boundPoliciesActiveTab" region ="region" policies-by-region = "boundPoliciesByRegion"></column-chart>


                                </div>

                            </div>

                            <div class="col-md-4" style="margin: 20px 5px;positive:relative;width:30%;">
                                <div class="extrabottompadding">
                                    <span>URBAN AREA TREND</span>
                                </div>
                                <div class="col-md-12"   style="height:300px; padding:0;">
                                    <column-chart ng-if="boundPoliciesByRegion" key="bound"  type="premiumGrowth" policies-active-tab="boundPoliciesActiveTab" region ="region" policies-by-region = "boundPoliciesByRegion"></column-chart>
                                </div>

                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span> Chat
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                            <ul class="dropdown-menu slidedown">
                                <li>
                                    <a ng-click="clearData()">
                                        <span class="glyphicon glyphicon-refresh">
                                        </span>
                                        Clear Chat
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="available()">
                                        <span class="glyphicon glyphicon-ok-sign">
                                        </span>
                                        Available
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="busy()">
                                        <span class="glyphicon glyphicon-remove">
                                        </span>
                                        Busy
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="away()">
                                        <span class="glyphicon glyphicon-time"></span>
                                        Away
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a ng-click="close()">
                                        <span class="glyphicon glyphicon-off">

                                        </span>
                                        Close
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul class="chat">
                            <li ng-repeat="chat in chatData" class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src={{chat.imgsrc}}&amp;text=U" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">{{chat.name}}</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>{{chat.time}}</small>
                                    </div>
                                    <p class="msg">
                                        {{chat.text}}
                                    </p>
                                </div>

                            </li>

                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." ng-model="sendNewMsg">
                            <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="addChat(sendNewMsg)">
                                Send</button>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
